body{
  margin:0;
  font-family: Arial, sans-serif;
  background: #000000;
  background: linear-gradient(21deg, rgba(196, 43, 43, 1) 0%, rgba(176, 181, 176, 1) 51%, rgba(255, 255, 255, 1) 100%);
}

.header{
  background: #c42b2b;
  background-image: url("https://webplus.info/images/wpi.images/events/119767.jpg");
  color: white;
  text-align: center;
  padding: 60px 20px;
  background-size: cover;
  background-position: center;
}

.site-title{
  margin-top: 10px;
}

/* NAV */
.nav {
  background-color: #222;
  text-align: center;
  padding: 15px;
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

/* SECTIONS */
.section {
  width: 80%;
  margin: 40px auto;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* ABOUT */
.about {
  display: flex;
  gap: 30px;
  align-items: center;
}

.about img {
  height: 400px;
  border-radius: 15px;
}

.about .text {
  width: 60%;
}

/* GALLERY */
.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  width: 33%;
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

/* VIDEO */
.video-box {
  text-align: center;
}


}

@media(mnax-width: 768px){
  body{
   font-size: 16px;  
  }
    
  .header{
    padding: 40px 15px;
  }
  
  .site-title{
    font-size: 22px
  }
  
  .nav a{
   display: block; 
   margin: 10px 0; 
  }
  
  .section{
   width: 95%; 
    padding: 20px;
  }
  
  .about{
    flex-decoration: column;
  text-align: center;
    }
  
  
  }
 }
.about. text{
  
}  

.cards{
  flex-direction: column;
}

.card{
  width: 100%;
}

.video-box iframe{
  width: 100%
    height: 200px;
}

.facts ul{
  padding-left: 20px;
}

.btn {
  width: 100p%;
  font-size: 18px;
   }    
 }body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #a2a2a2;
  text-align: center;
}

.section {
  background: white;
  margin: 30px auto;
  padding: 30px;
  width: 80%;
  border-radius: 10px;
}

.btn {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}


/* 1 приклад */
.hover-btn{
  background: #779e44;
  color: white;
  transition: 0.3s;
}

.hover-btn:hover{
  background: #2ecc71;
  transform: scale(1.1);
}
/* 2 приклад */
.move-btn{
  background: #5c44c7;
  color: white;
  animation: move 1s infinite alternate;
}

@keyframes move{
  from{
    transform: translateX(-100px);
  }
  to {
    transform: translateX(100px);
  }
}
/* 3 Приклад */
.pulse-btn{
  background: ##000000
  color:black;
  animation: pulse 3s infinite;
 box-shadow: 0 0 40px #f00,0 0 40px #f00,0 0 40px #f00;
}

@keyframes pulse { 
  0%{
  transform: scale(1);  
  }
  50%{
    transform:scale(1.15);
   }
  100%{
    transform:scale(1);
  }
}

/* 4 Приклад */
.card{
width: 175px;
margin: auto;
padding: 20px;
background: #ecf0f1;
border-radius: 10px;
transition: 0.3s;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);  
  }

/* 5 Приклад */
.photo{
width: 300px;
border-radius: 10px;
transition: 0.3s;
filter: brightless(40%)
}

.photo:hover{
  filter: brightless(100%);
  transform: scale(1.05);
}

/* Приклад 6 */
.slider-box {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 20px;
}
  
.slider-box img{
width: 400px;
height: 200px;
 object-fit: cover;
 border-radius: 10px;
 transition:0.3s;
}

.slider-btn{
font-size:24px;
 padding: 10px 15px;
  border:none;
 background: #aaa;
 color:white;
 border-radius: 50%;
 cursor:pointer;
 transition:0.3s;
}

.slider-btn:hover{
 bachground: #2ecc71;
 transform: scale(1.1)
}