body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: ##cfc321;
  color: #fff;
  text-align: center;
}

header {
  background: #000000;
  padding: 20px;
}

header h1 {
  margin: 0;
  letter-spacing: 3px;
}

.image-section img {
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  margin: 30px 0;
  box-shadow: 0 0 20px rgba(255,0,0,0.5);
}

.videos {
  padding: 20px;
}

.video-box {
  background: #222;
  margin: 15px auto;
  padding: 15px;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
}

.video-box a {
  color: #ff3c3c;
  text-decoration: none;
  font-weight: bold;
}

.video-box a:hover {
  text-decoration: underline;
}

footer {
  background: #000;
  padding: 10px;
  margin-top: 30px;
  font-size: 14px;
}
