*{
  padding: 0;
  margin: 0;
}

h2{
  margin: auto;
}

div{
  margin-top: 5px;
  text-align: center;
}

#conteiner{
  width: auto;
}

#header{
  background: #86DE86;
padding: 10 0;
  font-size: 36px;
 }   

#nav{
background: #85ae85;
 float: left;
  width: 25%;
  height: 300px
}

#content{
background: #b5deb5;  
float: right;
width: 75%;
  height: 300px;
}  
#clear{clear:both;}  
#footer{
background: #86DE86;  
 padding: 25px;
}
img{
 width: 150px; 
  margin: 35px 50px 0; 
}
